
#credit{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: -20px;
}
#debit{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-right: -20px;
}
form{
    font-weight: 15px;
}